<!DOCTYPE html>
<html lang="en" ng-app="customersApp">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- Css -->

    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="core/client/styles/core.client.styles.ui-navbar.css" />
    <link rel="stylesheet" href="core/client/styles/core.client.styles.styles.css" />
    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.0.min.js"></script>



    <script src="core/client/core.client.app.js"></script>
    <script src="core/client/filters/core.client.filters.nameCityStateFilter.js"></script>
    <script src="core/client/services/core.client.services.values.js"></script>
    <script src="core/client/services/core.client.services.customersFactory.js"></script>
    <script src="core/client/controllers/core.client.controllers.customersController.js"></script>
    <script src="core/client/controllers/core.client.controllers.navbar.js"></script>

    <script src="user/client/services/user.client.services.userService.js"></script>
    <script src="user/client/controllers/user.client.controllers.loginController.js"></script>
    <script src="user/client/controllers/user.client.controllers.registerController.js"></script>

    <script src="core/client/controllers/core.client.controllers.ordersController.js"></script>

    <script src="core/client/directives/core.client.directives.toggleWhenClicked.js"></script>

  </head>

  <body ng-cloak>
    <div ng-controller="NavbarController">
      <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">

     <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" ui-sref="home">Customer Mgr</a>

   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" ng-init="navCollapsed=true" ng-class="!navCollapsed && 'in'">
     <ul class="nav navbar-nav">
       <li><a  ng-if="!isAuthenticated()" ng-click="register();">Register</a></li>

       <li uib-dropdown="" ng-if="isAuthenticated()"><a uib-dropdown-toggle="" href="#/customers">Customers <b class="caret"></b></a>
         <ul class="dropdown-menu" role="menu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li><a href="#">Something else here</a></li>
           <li><a href="#">Separated link</a></li>
           <li><a href="#">One more separated link</a></li>
         </ul>
       </li>
       <li uib-dropdown="" ng-if="isAuthenticated()"><a href="#/customers">Orders</a></li>
       <li><a  ng-click="loginOrOut();navCollapsed=true;" >{{loginLogoutText }}</a></li>

     </ul>


   </div>
   <!-- /.navbar-collapse -->
 </nav>
    </div>
    <div class="row">
      <main>
          <div ng-view class="slide-animation" ></div>
      </main>
    </div>
    <div id="footer">
            <div class="navbar navbar-fixed-bottom">
                <div class="navbar-inner footer">
                    <div class="container">
                        <footer>
                            <div class="row">
                                <div class="col-md-12">
                                    Modified Footer
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

  </body>

</html>
