<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Register</strong>
                </div>

                <div class="panel-body">
                  <div ng-if="errorMessage">
                    <div class="form-group">
                        <div class="errorMessage">{{errorMessage}}</div>
                        <div></div>
                    </div>
                  </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" data-ng-model="fname" class="form-control" id="fname" placeholder="First Name" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" data-ng-model="lname" class="form-control" id="lname" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" data-ng-model="email" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" data-ng-model="password" class="form-control" id="password" placeholder="Password" required="">
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm"  data-ng-click="register()">Register</button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
