<div class="customers view indent" >
      <div class="container">
        <div class="row">
          <div class="col-md-10">

              <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="search(searchText)">
                  <div class="input-group">
                    <input class="form-control" ng-model="searchText" placeholder="Search" type="search"  /> <span class="input-group-addon">
                      <span class="glyphicon glyphicon-search" ng-click="search(searchText)"></span>
                      </span>
                    </div>
                </form>
              </div>
            
          </div>
        </div>
      </div>

        <div class="container">
          <div class="gridContainer customersTable show-hide-animation">
            <div class="col-md-10">
              <div>
                <table class="table table-striped">
                  <tr>
                  <th ng-click="doSort('name')">Name</th>
                  <th ng-click="doSort('city')">City</th>
                  <th ng-click="doSort('orderCount')">Order Total</th>
                  <th>Orders</th>
                  <th>&nbsp;</th>
                  </tr>
                  <tr ng-repeat="cust in filteredCustomers" class="repeat-animation">
                  <td>{{cust.firstName + ' ' + cust.lastName}}</td>
                  <td>{{ cust.city }}</td>
                  <td>{{ cust.orderCount | currency }}</td>
                  <td><a href="#/orders/{{ cust._id }}">View Orders</a></td>
                  <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
<br/>

<div class="show-hide-animation" data-ng-show="customers.length > 0">
  <uib-pagination items-per-page ="pageSize" total-items="totalRecords" ng-model="currentPage" ng-change="pageChanged(currentPage)"></uib-pagination>
   <h5>Showing {{ filteredCount }} of {{ totalRecords}} total customers</h5>
   <br/><br/><br/>
</div>

</div>
